* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginBox {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  flex-direction: column;
}
.loginForm {
  width: 100%;
  height: auto;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputPart {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.detailSection span {
  padding: 16px 0px;
}

.detailSection {
  margin: 20px 0px 5px 20px;
  width: 40%;
  display: flex;
  gap: 10px;
}
.detailSection span,
.loginForm p {
  font-size: 24px;
}
.detailSection input {
  width: 75%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #262c37;
  outline: none;
  font-size: 22px;
  padding: 0px 10px;
  margin: 5px 0px;
}
.buttonPart {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.buttonPart button {
  width: 100%;
  height: 100%;
  font-size: 24px;
  background: #262c37;
  color: white;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.buttonPart button:hover {
  color: white;
  background: rgb(25, 23, 23);
  font-weight: bolder;
}
