* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-container {
  width: 100%;
}
.basicInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.personalInfo,
.contactInfo {
  padding: 20px;
  width: 40%;
  border-radius: 15px;
  box-shadow: 2px 2px gray;
}
.personalInfo {
  width: 55%;
  display: flex;

  align-items: center;
}
.imageSection img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}
